<!DOCTYPE html>
<html>
	<head>
		<title>PierreDuPirate</title>
		<style>
			#header {
				font-size: 35px;
				color: green;
				background-color: blue;
				font-family: monospace;
				text-align: center;
			}
			#header:hover {
				font-size: 40px;
				background-color: red;
			}
			body {
				font-size: 20px;
				color: yellow;
				background-color: #0000e5;
				text-align: center;
			}
			a {
				color: red;
				background-color: black;
			}
		</style>
	</head>
	<body>
		<h1 id="header">Hello!</h1>
		<p>My name is Pierre Du Pirate!<br>I know, this site ain't much yet.<br><br>So.. if you have any ideas send them to <a href="https://www.gmail.com">apfelstrudel102@gmail.com</a>!</p>
		
		
	</body>
</html>
